
.idea/.idea.TestNinja/.idea/encodings.xml
.idea/.idea.TestNinja/.idea/indexLayout.xml
.idea/.idea.TestNinja/.idea/projectSettingsUpdater.xml
.idea/.idea.TestNinja/.idea/vcs.xml
TestNinja.UnitTest/obj/project.packagespec.json
TestNinja/obj/project.packagespec.json
TestNinja.UnitTest/obj/Debug/net6.0/TestNinja.UnitTest.csproj.AssemblyReference.cache
*.cache

TestNinja/bin
TestNinja/obj
TestNinja.UnitTest/bin
TestNinja.UnitTest/obj